$container: 1400;
$restaurant-info: 220/$container * 100%;
$dishes-list: 100% - $restaurant-info;

html, body {
  background-color: #fff;
  color: #636b6f;
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
  height: 100vh;
  margin: 0;
}

.full-height {
  height: 100vh;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.position-ref {
  position: relative;
}

.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}

.content {
  text-align: center;
}

.title {
  font-size: 84px;
}

.links > a {
  color: #636b6f;
  padding: 0 25px;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.m-b-md {
  margin-bottom: 30px;
}

.home-page{
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  height: 100%;
  flex-flow: column;
}

.home-page__content{
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}


.home-page__content:before{
  content: '';
  background: #fff;
  opacity: 0.2;
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  left:0;
  z-index: 0;
}

.home-page-description{
  color: #fff;
}
.home-page__order-btn{
  margin: 30px 0px 0 0;
}
.container{
  width: $container+px;
  margin: 0 auto;
}

.dishes-page .container{
  display: flex;
}

.restaurant-info{
  display: inline-block;
  width: $restaurant-info;
  background: #fff;
  border-right: 1px solid #e8e8e8;
  border-left: 1px solid #e8e8e8;
}
.restaurant-info__image{
  max-width: 100%;
}
.dishes-page__list{
  width: $dishes-list;
  background: #f2f2f2;
  display: flex;
  flex-wrap: wrap;
  padding: 0 0 25px 0;
}

.dishes-page__item {
  width: 30%;
  margin-top: 25px;
  margin-left: 2.5%;
  background: #fff;
  height: 340px;
  position: relative;
}

.dishes-page__item-image{
  max-width: 100%;
  display: block;
  cursor: pointer;
}

.dishes-page__item-name{
  font-weight: 600;
  margin: 15px 0;
  display: block;
}
.dishes-page__item-info{
  padding: 0 15px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #fff;
  z-index: 1;
  width: 100%;
  box-sizing: border-box;
}

.dishes-page__item-desc{
  display: block;
  overflow: hidden;
  height: 0;
  transition: height 0.3s;
}

.dishes-page__item_open-desc{
  .dishes-page__item-desc{
    height: auto;
  }
}

.dishes-page__item-details{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 15px 0 18px 0;
}

.restaurant-info{
  padding: 25px 0 0 0;


  &__work-time,
  &__delivery,
  &__rate{
    box-sizing: border-box;
    padding: 0 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

.header{
  height: 40px;
  border-bottom: 1px solid #e8e8e8;

  &__logo{
    height: 40px;
    width: auto;
  }
  &__phone{
    display: inline-block;
    margin: -3px 0 0 0;
  }
}

.container_header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  box-sizing: border-box;
}