.restaurants-page{
  display: flex;
  position: relative;
}

.restaurants-page__filters{
  @extend .restaurant-info;
  min-height: 1px;
}

.restaurants-page__image{
  max-width: 100%;
  border-bottom: 1px solid #e8e8e8;
}

.restaurants-page__list{
  @extend .dishes-page__list;
}

.restaurants-page__item{
  @extend .dishes-page__item;
}

.restaurants-page__item-rate{
  @extend %rate-star;
}

.restaurants-page__item-top,
.restaurants-page__delivery-price,
.restaurants-page__work-time{
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}

.restaurants-page__delivery-price{
  padding: 3px 15px 3px;
}

.restaurants-page__item-top{
  padding: 7px 15px;
  background: #f8f8f8;
}
